{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = title ?? NULL %}
{% set description = description ?? NULL %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<header class="c-header">
	<div class="l-container">
		{% include '/_components/nav' %}
	</div>
</header>
