{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = title ?? NULL %}
{% set description = description ?? NULL %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<section class="c-hero">
	<div class="l-container">
		{% if title %}
			<h1>
				{{ title }}
			</h1>
		{% endif %}

		{% if title %}
			{{ description }}
		{% endif %}
	</div>
</section>
