{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set navItems = craft.entries.section("mainNavigation") ?? null %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<nav class="c-nav">
	<div>
		<ul>
			<li>
				<a href="#">
					home
				</a>
			</li>
		</ul>
	</div>

	<a class="c-nav__logo" href="{{ siteUrl }}">
		{% include "/_svg/logo.svg" %}
	</a>

	<div>
	</div>
</nav>
