{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}


{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<section class="l-section" id="social">
	<div class="l-container:12/12">
		<div class="l-section__header l-section__header--center">
			<div class="l-container:9/12">
				<h3>
					Volg ons op sociale media
				</h3>

				<div>
					<a href="https://www.instagram.com/dekleinedeugd/" target="_blank" style="text-decoration: none;">
						{% include "/_svg/instagram.svg" %}
					</a>

					<a href="https://www.facebook.com/dekleinedeugd/" style="margin-left: 3rem;">
						{% include "/_svg/facebook.svg" %}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
